li{
    list-style: none;
    text-decoration: none;
    margin: 0 2vw;
    font-size: 0 2vw;
    
}
nav{
    width: 100vw;
    background-color: rgb(49, 223, 14);
}
ul{
    margin: 0;
    padding: 0;
    display: flex;

}
body{
    margin: 0;
    background-color: grey;
}
a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 2vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
a:hover{
    background-color: grey;
}

